/* モバイルファースト? PCファースト? */
/* とりあえずPCファースト */

body{
    margin: 0;
    padding: 0;

}

/* .wrapper {
    width: 1440px;
} */
/* ヘッダー */
header {
    position: fixed;
    width: 100%;
    height: 11.4%;
    top: 0%;
    left: 0%;

    background: #FFFFFF;

    z-index: 10;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    position: absolute;
    left: 1.17%;
    top: 11.39%;
}

.logo img {
    width: 60px;
    height: 60px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 44.03%;
    height: 21.74%;
    left: 26.99%;
    top: 33.04%;
}

.menu_item {
    list-style: none;
    display: inline-block;
    white-space: nowrap;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-size: 14px;
    line-height: 21.74%;
}

.menu_item a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menu_item a:hover {
    opacity: 50%;
}

.twitter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 60px;
    height: 60px;
    left: 90.56%;
    top: 12.39%;
}

.twitter img {
    width: 30px;
    height: 24.69px;
    
    cursor: pointer;
}

.instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 60px;
    height: 60px;
    left: 94.72%;
    top: 12.39%;
}

.instagram img {
    width: 30px;
    height: 29.99px;

    cursor: pointer;
}
/*  ヘッダー */

/* セクション */
/* section {
    height: 810px;
} */
/* セクション */

/* 区切り線 */
.delimiter {
    width: 100%;
    height: 4px;
    left: 0px;

    background-image: url(../image/bar.png);
}

#header-delimiter {
    position: fixed;
    top: 11.4%;
}
/* 区切り線 */

/* コンテンツ */
.contents {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;    
}

.background {
    background-image: url(../image/img_only_copy.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    position: fixed;
    z-index: -1;

    width: 100%;
    height: 810px;
    object-fit: cover;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: 730px;
}

.top_frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 15.77% auto 0;  /* header-top 152px */
    gap: 2.22%;    /* gap: 32px; */

    width: 53.33%;  /* width: 768px; */
    height: auto;    /* height: 352px; */
}

.top_logo {
    /* ロゴ */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 45.83%;  /* 352px */
}

.top_logo img {
    width: 100%;
    height: auto;
}

.top_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%; /* 384px */
}

.top_text ul {
    list-style: none;
    padding: 0;
}

.top_text li {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    
    color: #FFFFFF;
}

.schedule {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 4.44%;    /* line-height: 36px; */

    margin: 2% auto 0;   /* top_frame-schedule 8px; */

    color: #FFFFFF;
}

.schedule span {
    font-size: 36px;
}

/* あいさつ */
.theme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3% 0px 0px;

    width: 77.78%;  /* 1120px */
    height: 810px;
    margin: 0 auto;
}

.theme_frame {
    width: 66.7%;   /* 725px */
    margin: 0 auto;
    padding-left: 5%;
}

.theme_frame h2 {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */


    color: #FFFFFF;
}

.theme_frame h3 {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #FFFFFF;
}

.theme_frame p {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}

.theme_frame span {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 50px;

    color: #FFFFFF;
}
/* あいさつ */

/* デザ紹介 */
.design_introduction {
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 92px 0px 0px;    /* padding: 92px 0px 0px; */
    gap: 32px;

    align-self: stretch;

    width: 100%;
    height: 700px;
}

.design_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px; /* 64px */
    gap: 48px;

    width: 77.78%;    /* 1120px;*/
    height: 93px;    /* 93px; */

    margin: 0 auto;     /* 92px 160px 625px */
}

.contents_title {
    /* width: 9.72%;    /*140px*/
    /* height: 3.58%;   /* 29px */
    margin: 0 auto;
    
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;

    /* identical to box height */
    
    color: #000000;
}

/* デザ紹介 */

/* 研究室紹介 */
#re-delimiter {
    top: auto;
}

.lab_introduction {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 92px 0px 0px;    
    margin: 0 auto;

    background-color: #FFFFFF;

    width: 100%;
    height: 800px;

    align-self: stretch;
}

.lab_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0px 0px;
    gap: 32px;

    margin: 0 auto;

    /* width: 1120px; */
    height: 701.03px;
}

.labs {
    margin: 0 auto;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.lab {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 256px;
    height: 300.01px;

    padding: 0 16px;
}

.lab_img {
    width: 224px;
    height: 224px;
    top: 0;
}

.lab_back {
    width: 256px;
    height: 122.01px;

    position: relative;
    top: -70px;
}

.lab_name {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    
    color: #000000;

    position: relative;
    top: -140px;
}
/* 研究室紹介 */

/* アクセス */
.access {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 92px 0px 0px;    
    margin: 0 auto;

    background-color: #FFFFFF;

    width: 100%;

    align-self: stretch;
}

.access_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0px 0px;
    
    width: 1120px;
    height: 573px;
}

.access_contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 96px;
    gap: 32px;

    width: 77.78%;    /* width: 1120px; */
    height: 448px;
}

.access_contents img {
    /* width: 448px; */
    /* height: 448px; */
    width: 31.11%;
    height: auto;
}

.access_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    
    width: 544px;
    height: 364px;

    color: #000000;
}

.access_info p {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
}

.campus{
    font-family: 'Noto Sans JP';
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}

.place{
    font-family: 'Noto Sans JP';
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
}

/* アクセス */
/* コンテンツ */


/* フッダー */
footer {
    width: 100%;
    height: 340px;
}

.footer_frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 70%;

    position: relative;
    left: 160px;
    top: 50px;
}

.footer_frame p {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    
    color: #FFFFFF;
}

.footer_frame img {
    width: 541.82px;
    height: 60px;

    position: relative;
    top: 86px;
}
/* フッダー */

.reserve_btn {
    /* 予約フォーム */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 16px; */

    position: fixed;
    width: 46px;
    height: 261.14px;
    top: 148px;
    right: 0;

    background: #FFFFFF;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px 0px 0px 8px;

    /*font-size: 8%;
    
    text-align: justify;
    white-space: nowrap; */

    cursor: pointer;
}

.reserve_btn span {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;

    writing-mode: vertical-rl;
    letter-spacing: 4px;
    
    color: transparent;
    background-image: url(../image/text_mask.png);
    background-size: cover;
    -webkit-background-clip: text;

}

.reserve_btn:hover {
    opacity: 50%;
}


@media screen and (max-width: 520px) {
    .wrapper {
        max-width: 520px;
    }
}
