body{
    margin: 0;
    padding: 0;
}

.wrapper {
    animation: fadein 0.5s forwards;
  }
  
  @keyframes fadein {
    0% {opacity: 0}
    100% {opacity: 1}
  }

/* ヘッダー */
header {
    position: fixed;
    width: 100%;
    /* height: 11.4%; */
    height: 92px;
    top: 0%;
    left: 0%;

    background: #FFFFFF;

    z-index: 10;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    position: absolute;
    left: 16px;
    top: 16px;
    /* left: 1.17%; */
    /* top: 11.39%; */
}

.logo img {
    width: 60px;
    height: 60px;

    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    margin: 0 auto;

    position: relative;
    width: 634px;
    height: 20px;
    /* left: 26.99%; */
    top: 35px;
}

.menu_item {
    list-style: none;
    display: inline-block;
    white-space: nowrap;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.menu_item a {
    color: #595757;
    text-decoration: none;
    cursor: pointer;
}

.menu_item a:hover {
    opacity: 50%;
}

.twitter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 60px;
    height: 60px;
    /* left: 1319px; */
    left: 91.60%;
    top: 16px;
}

.twitter img {
    width: 30px;
    height: 24.69px;
    
    cursor: pointer;
}

.instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 60px;
    height: 60px;
    /* left: 1379px; */
    left: 95.76%;
    top: 16px;
}

.instagram img {
    width: 30px;
    height: 29.99px;

    cursor: pointer;
}
/*  ヘッダー */

/* 区切り線 */
.delimiter {
    width: 100%;
    height: 4px;
    left: 0px;

    position: fixed;
    top: 92px;

    z-index: 5;
}
/* 区切り線 */

.research {
    width: 100%;
    height: 384px;

    color: white;

    position: relative;
    top: 92px;

    z-index: 8;
}

.research br.adjustment {display: inline;}

.header-decoration {
    width: 264px;
    height: 96px;
    
    background: rgba(255, 255, 255, 0.34);    
}

#box1 {
    position: absolute;
    right: 2%;
    top: -60px;

    transform: rotate(10deg);
}

#box2 {
    position: absolute;
    right: -6%;
    top: -38px;

    transform: rotate(45deg);
}

.header-info {
    width: 1126px;
    height: 238px;

    margin: 0 auto 1%;
    padding: 83px 0;
}

.research img {
    position: absolute;
    top: 0px;
    right: 0px;

    width: 307px;
    height: 121px;
}

.research h1 {
    position: relative;

    width: 287px;
    height: 93px;

    margin: 0px;

    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 93px;
}

.research h2 {
    width: 336px;
    height: 70px;

    margin: 0px;

    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 35px;
}

.research h3 {
    position: relative;
    top: -89px;

    width: 63%;
    height: 29px;

    margin-right: 0px;
    margin-left: auto;

    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.06em;
}

.research p {
    position: relative;
    top: -89px;

    width: 63%;
    height: 100px;

    margin-right: 0px;
    margin-left: auto;    

    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.06em;
}
/* ヘッダー */


/* メインコンテンツ */
.labs {
    width: 1120px;
    height: auto;

    margin: 32px auto 0px;

    position: relative;
    top: 92px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    z-index: 1;
}

.lab {
    width: 288px;
    height: auto;

    padding: 16px 32px;
    margin-bottom: 64px;

    list-style: none;
}

.lab a {
    text-decoration: none;
}

.lab:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.lab img {
    width: 288px;
    height: auto;
    
    background-blend-mode: luminosity, normal;
}

.lab h3 {
    width: 288px;
    height: auto;
    
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.08em;
    
    color: #595757;
}

.lab h3.subtitle {
    margin-bottom: 0px;
}

.lab h4 {
    width: 288px;
    height: auto;

    margin-top: 0px;
    
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    color: #666666;
}

.lab span {
    width: 288px;
    height: auto;
    
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    color: #666666;
}

/* 研究詳細 */
.details {
    width: 100%;
    height: 716px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.details ul {
    list-style: none;
}

.close_button {
    position: relative;
    left: calc(100% - 48px);
}

.close_button img{
    width: 48px;
    height: 48px;
}

.details h1 {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;

    color: #595957;
    
    margin: 0px auto 32px;
}

.de_imgs {
    width: 800px;
    height: 284.5px;    
}

.de_imgs img {
    width: 768px;
    height: 252.51px;

    position: relative;
    z-index: 15;
}

.under_img {
    width: 768px;
    height: 252.5px;

    position: relative;
    top: -220px;
    left: 32px;

    /* background: #E6508D; */
    opacity: 0.1;

    z-index: 0;
}

.details h3 {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    
    color: #595757;    
}

.details h4 {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    
    color: #595757;     

    margin-top: 0px;
}

.de_line {
    width: 800px;
    height: 1px;

    margin: 24px 0px;

    /* background: #E6508D; */
}

.de_context {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    width: 800px;
    height: 128px;
}

.de_context p {
    width: 576px;
    height: 128px;

    margin: 0;
    
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    /* or 229% */
    
    letter-spacing: 0.025em;
    
    color: #666666;

    padding: 0px 32px 0px 0px;
}

.de_comment {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 16px;
    
    width: 224px;
    height: 123px;
}

.de_tai{
    width: 167.27px;
    height: 27px;    
}

.de_tai img {
    width: 167.27px;
    height: 27px;
}

.de_tai span {
    position: relative;
    top: -21px;
    padding-left: 13px;

    font-family: 'Source Han Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    
    color: #FFFFFF;
}

.de_comment p {
    font-family: 'Source Han Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    /* or 20px */
    
    letter-spacing: 0.07em;
    
    /* color: #E6508D; */

    width: 100%;
    height: auto;
    padding: 0px;
}
/* 研究詳細 */

/* モーダル */
#hide_area{
    display: none;
}

.modaal-container {
    width: 928px;
    height: 720px;
    padding-bottom: 24px;    
}

.modaal-content-container {
    padding: 24px 64px;
    height: auto;
}

.modaal-content-container h3 {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    
    color: #595757;      
}

.modaal-content-container h3.subtitle {
    margin-bottom: 0px;
}

.modaal-content-container h4 {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    
    color: #595757;  
    margin-top: 0px;
}

/* 色 */
#hashida { background: #E6508D;}
#yan { background: rgba(218, 79, 78, 1);}
#yoshitake { background: rgba(222, 136, 79, 1);}
#yamazaki { background: rgba(126, 189, 61, 1);}
#sasaki { background: rgba(59, 172, 98, 1);}
#shimizu { background: rgba(82, 191, 209, 1);}
#shigeri { background: rgba(80, 122, 185, 1);}
#ashizawa { background: rgba(112, 83, 160, 1);}

#hashida_color {color: #E6508D;}
#yan_color {color: rgba(218, 79, 78, 1);}
#yoshitake_color {color: rgba(222, 136, 79, 1);}
#yamazaki_color {color: rgba(126, 189, 61, 1);}
#sasaki_color {color: rgba(59, 172, 98, 1);}
#shimizu_color {color: rgba(82, 191, 209, 1);}
#shigeri_color {color: rgba(80, 122, 185, 1);}
#ashizawa_color {color: rgba(112, 83, 160, 1);}