/* メインコンテンツ */
@media screen and (max-width: 520px) {
    .wrapper {
        max-width: 520px;
    }
    
    body{
        margin: 0;
        padding: 0;
    }
    
    /* ヘッダー */
    .hashida {
        background: #E6508D;
    }
    
    header {
        width: 100%;
        height: 408px;
    
        top: 0px;
        left: 0px;
    
        color: white;
    }
    
    .header-decoration {
        width: 176px;
        height: 64px;
        
        background: rgba(255, 255, 255, 0.34);    
    }
    
    #box1 {
        position: absolute;
        right: 5%;
        top: -35px;
    
        transform: rotate(10deg);
    }
    
    #box2 {
        position: absolute;
        right: -20%;
        top: 0px;
    
        transform: rotate(45deg);
    }
    
    .header-info {
        width: 82.9%;
        height: 266px;
    
        margin: 0 auto;
        padding: 96px 0;
    }

    header img {
        position: absolute;
        top: 0px;
        right: 0px;
    
        width: auto;
        height: auto;
    }
    
    header h1 {
        width: auto;
        height: 46px;
    
        margin: 0px;
    
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
    }
    
    header h2 {
        width: 196px;
        height: 40px;
    
        margin: 0px;
    
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
    }
    
    header h3 {
        position: relative;
        top: 0px;

        margin-top: 32px;

        width: 311px;
        height: 34px;
    
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.06em;
    }
    
    header p {
        position: relative;
        top: 0px;

        width: 311px;
        height: 98px;
    
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.06em;
    }
    /* ヘッダー */
    
    
    /* メインコンテンツ */
    .labs {
        width: 100%;
        height: auto;
    
        margin: 32px auto 0px;
        padding: 0px;
        
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .lab {
        width: 288px;
        height: auto;

        margin: 0 auto 64px;
    
        /* margin-bottom: 64px; */
    
        list-style: none;
    }
    
    .lab:hover {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
    
    .lab img {
        width: 288px;
        height: auto;
        
        background-blend-mode: luminosity, normal;
    }
    
    .lab h3 {
        width: 288px;
        height: auto;
        
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.08em;
        
        color: #595757;
    }
    
    .lab h3.subtitle {
        margin-bottom: 0px;
    }
    
    .lab h4 {
        width: 288px;
        height: auto;
    
        margin-top: 0px;
        
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        
        color: #666666;
    }
    
    .lab span {
        width: 288px;
        height: auto;
        
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        
        color: #666666;
    }
}